<div id='flash' class='notice'>
  <%= flash[:notice] %>
</div>

<a href="/registration">Register</a>


<form method='post' action='/'>
  <input type='text' name = 'username' placeholder='username'>
  <input type= 'password' name ='password' placeholder ='password'>
  <input type='submit' value = 'sign_in'>
</form>
